#title {
	height: 30px;
}
#title .avatar {
	padding: 3px;
}
#title .avatar img {
	width: 24px;
	height: 24px;
}
#title .title {
	line-height: 30px;
	font-size: 1.4em;
}
#title .title span {
	padding-left: 7px;
}
#toolbar {
	height: 26px;
}
#toolbar .pager {
	font-size: 1.4em;
	line-height: 26px;
}
#toolbar .previous, #toolbar .next, #toolbar .fullscreen, #toolbar .play, #toolbar .pause, #toolbar .replay {
	width: 16px;
	height: 16px;
	top: 5px;
}
#toolbar .previous {
	background: url(../img/sprites.png) 0 -510px;
	margin-left: -50px;
}
#toolbar .next {
	background: url(../img/sprites.png) 0 -378px;
	margin-left: 34px;
}
#toolbar .fullscreen {
	background: url(../img/sprites.png) 0 -334px;
	right: 5px;
}
#toolbar .play {
	background: url(../img/sprites.png) 0 -466px;
	left: 5px;
}
#toolbar .pause {
	background: url(../img/sprites.png) 0 -422px;
	left: 5px;
}
#toolbar .replay {
	background: url(../img/sprites.png) 0 -812px;
	right: 5px;
}
#toolbar .replay_embed {
	right: 26px;
}
#toolbar .loop {
	width: 26px;
	height: 16px;
	top: 5px;
	background: url(../img/sprites.png) 0 -846px;
	left: 5px;
}
#poweredBy {
	height: 20px;
	line-height: 20px;
	font-size: 1em;
	padding-right: 5px;
}
.slideWrapper.textElement p {
	font-size: 1.8em;
}
.slideWrapper.textElement p span {
	padding: 10px 25px;
}
.attribution {
	font-size: 1.4em;
}
.attribution p {
  padding: 5px;
}
.quote, .link {
	width: 85%;
  min-width: 300px;
  max-height: 85%;
}
.quote p, .link p {
	font-size: 1.5em;
	max-height: 92px;
  height:auto;
  padding: 18px 24px;
}

.link img {
  max-width: 100px;
}

.twitterElement .quote p {
	background-position: 70px 30px;
}
.facebookElement .quote p {
	background-position: 70px 30px;
}
.quote p .arrow {
	left: 29px;
	top: 140px;
}
.quote aside {
	height: 30px;
}
.quote aside img {
	width: 24px;
	height: 24px;
}
.quote aside .username_container {
	padding: 4px 0 0 8px;
}
.quote aside .username, .link aside .username {
	font-size: 1.3em;
}
.quote aside .name {
	display: none;
}
.quote aside .actions {
  padding-top: 3px;
}

.quote aside .actions a span {
	display: none;
}
.quote aside .actions a i {
	margin: 0;
}
.quote aside .date, .link .date {
	padding: 0 0 2px 0;
}
.quoteElement .quote aside .website a, .linkElement .quote aside .website a {
	font-size: 1.1em;
}
.quoteElement .quote aside .title, .linkElement .quote aside .title {
	font-size: 1.1em;
	font-weight: bold;
}
.quoteElement .quote p, .linkElement p {
	background: none;
  padding: 18px 24px;
	font-size: 1.4em;
}
.lastElementInner {
	height: 180px;
	margin-top: -90px;
}
.lastElementInner h2 {
	font-size: 1.6em;
	margin-bottom: 10px;
}
.lastElementInner h3 {
	font-size: 1.3em;
}
.lastElementInner .buttons {
	margin-bottom: 15px;
	height: 48px;
	padding-left: 146px;
}
.lastElementInner .buttons a {
	padding-right: 12px;
}
.lastElementInner .field {
	margin-bottom: 15px
}
.lastElementInner .buttons a, .lastElementInner .buttons a span {
	width: 48px;
	height: 48px;
}
.lastElementInner .buttons a.facebook span {
	background-position: 0 -37px;
}
.lastElementInner .buttons a.twitter span {
	background-position: 0 -531px;
}
