#title {
	height: 46px;
}
#title .avatar {
	padding-right: 0;
}
#title .avatar img {
	width: 36px;
	height: 36px;
}
#title .permalink {
	display: none;
}
#title .title {
	line-height: 46px;
	font-size: 1.6em;
	border-left: 0;
}
#title .title span {
	padding: 0 10px;
}
.slideWrapper.textElement p {
	font-size: 3em;
}
.slideWrapper.textElement p span {
	padding: 20px 50px;
}
.attribution {
	font-size: 1.7em;
}
.quote {
	width: 450px;
}
.quote p {
	font-size: 2.2em;
	height: 122px;
}
.tweetElement .quote p {
	background-position: 220px 60px;
}
.fbpostElement .quote p {
	background-position: 220px 30px;
}
.quote p .arrow {
	left: 35px;
	top: 170px;
}
.quote aside {
	height: 42px;
}
.quote aside img {
	width: 36px;
	height: 36px;
}
.quote aside .username_container {
	padding: 4px 0 0 8px;
}
.quote aside .username {
	font-size: 1.6em;
}
.quote aside .name {
	font-size: 1.2em;
}
.quoteElement .quote aside .title {
	font-size: 1.4em;
	font-weight: bold;
}
.lastElementInner {
	width: 400px;
	height: 220px;
	margin-left: -200px;
	margin-top: -110px;
}
.lastElementInner h2 {
	font-size: 2em;
	margin-bottom: 15px;
}
.lastElementInner h3 {
	font-size: 1.6em;
}
.lastElementInner .buttons {
	margin-bottom: 20px;
	height: 72px;
	padding-left: 119px;
}
.lastElementInner .buttons a {
	padding-right: 18px;
}
.lastElementInner .buttons a, .lastElementInner .buttons a span {
	width: 72px;
	height: 72px;
}
.lastElementInner .buttons a.facebook span {
	background-image: url(../img/facebook72.png);
}
.lastElementInner .buttons a.twitter span {
	background-image: url(../img/twitter72.png);
}
.lastElementInner .field {
	margin-bottom: 20px;
	height: 20px;
	padding-left: 70px;
}
.lastElementInner .field input {
	width: 195px;
	height: 20px;
	line-height: 20px;
	font-size: 1.2em;
}
.lastElementInner .field a {
	height: 20px;
	line-height: 20px;
	font-size: 1.3em;
	width: 60px;
}
.lastElementInner .field .copied {
	font-size: 1.1em;
	line-height: 20px;
}