html, body {
  padding: 0;
  margin: 0;
}

img:not([src]) {
  display: none;
}

a:hover {
  text-decoration:underline !important;
}

#grid {
  text-align: center;
}

.s-minimal {
  display: none;
  text-align: left;
}

.s-minimal a {
  text-decoration: none;
}

#header {
  display:none;
  text-align:center;
}

#header h1 {
  margin-bottom: 5px;
}

#header #byline {
  color: #555;
}

#header #byline a {
  color: #555;
  text-decoration: none;
}

#header #description {
  color: #555;
  font-style: italic;
}

#content {
  margin: 0px;
  padding:0px;
  padding-bottom: 0px !important
  overflow: hidden;
}

.vignette {
  width: 25%;
  padding-top: 25%;
  float: left;
  text-align: left;
  position: relative;
}

.vignette .thumbnail {
  padding-bottom: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  overflow:hidden;
}

.vignette .thumbnail iframe, .vignette .thumbnail div {
  position:absolute;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
  background-color: black !important;
}

.vignette .thumbnail iframe {
  background-color: transparent !important;
  height: 97%;
}

.vignette_bottom {
  padding: 0px 5px;
  min-height:110px;
  -webkit-filter: grayscale(100%);
  transition: all 1s
}

.vignette .attribution {
  margin: 5px 0px;
  height: 32px;
  line-height: 0.9;
}

.vignette .attribution .avatar img {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 5px;
}

.vignette:hover .vignette_bottom {
  -webkit-filter: grayscale(0);
}

.vignette:hover .actions {
  display: block;
}

.vignette .attribution a {
  text-decoration: none;
  color: black;
}

.vignette .attribution .author_info .author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vignette .attribution .author_info .author a {
  font-weight: bold; 
  font-size: 12px;
}

.vignette .attribution .author_info .timestamp {
  float: left;
  margin-right: 10px;
}
.vignette .attribution .author_info .timestamp a {
  color: #555;
  font-size: 10px;
}

.vignette .caption {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 65px;
  line-height: 1.4;
  color: #555;
  font-size: 12px;
  clear: left;
}

.vignette .caption a {
  color: #333;
  text-decoration: none;
}

.twitterUsername {
  display: inline-block;
  background: url('/img/twitter-logo-10px.png') no-repeat 1px 0;
  padding-left: 15px;
  line-height: 10px;
  height:10px;
}

#footer {
  clear: left;
  text-align:center;
  margin-top:8px;
  margin-bottom: 15px;
  font-size: 11px;
}

#poweredBy {
  line-height: 14px;
}

#poweredBy a {
  display: inline-block;
  height: 15px;
  width: 56px;
  background: url('//storify.com/public/img/logo.blue.small.png') no-repeat 0 0;
  overflow: hidden;
  text-indent: 60px;
}
    
.actions {
  display: none;
}

.actions a {
    display: block;
    width: 0px;
    text-indent: 30px;
    overflow:hidden;
    float: left;
    line-height: 16px;
    color: #555;
    padding: 0px 0px 0px 18px;
    background: url('/img/twitter-actions.png') no-repeat;
    font-size: 7pt;
    margin: 2px 8px 2px 0px;
}

.actions a:hover {
  color: #333;
  text-decoration: none;
}

.actions .retweet {
  background-position: 0px -82px;
}

.actions .retweet:hover {
  background-position: 0px -98px;
}

.actions .favorite {
  background-position: 0px -33px;
}
.actions .favorite:hover {
  background-position: 0px -66px;
}
.actions .reply {
  background-position: 0px -1px;
}
.actions .reply:hover {
    background-position: 0px -17px;
}
